@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --default: #E7EAEE;
  --default-border: #E7EAEE29;
  --primary: #051E33;
  --primary-hover: #051E3360;
  --secondary: #F7F7F7;
  --accent: #D2AE6D;
  --jewellery-type: #F6F6F6;
  --consultationForm: #596B82;
  --consultationFormBorder: #596B824D;
  --consultationFormHover: #596B8210;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-quiche-display);
  --font-body: var(--font-figtree);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body, Arial, Helvetica, sans-serif);
}

/* Add to your globals.css */
@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}